.sv-grid-container { height: 100%; margin: 0; }

.sv-grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr 1.7fr 0.3fr;
  grid-template-rows: 0.2fr 0.2fr 2.5fr;
  grid-template-areas: ". surveyTitle surveyTitle . ." ". surveyDescription surveyDescription surveyDescription ." ". survey survey survey .";
}

.sv-surveyTitle { grid-area: surveyTitle; }

.sv-surveyDescription { grid-area: surveyDescription; }

.sv-survey { grid-area: survey; }

.surveyFormItem {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.surveyFormItem label {
	display: inline-block;
	width: 150px;
}

.validationError {
	color: red;
}

td, th {
	padding-bottom: 10px;
}

th {
	border-bottom: 1px solid darkgrey;
	margin-bottom: 10px;
	margin-right: 0px;
	padding-right: 0px;
}

.surveyResult {
	margin-left: 20px;
	margin-right: 20px;
}
.tableParkImg {
	width: 90%;
}

.imageCol {
	width: 33%;
}

.parkNameCol {
	width: 33%;
}

.votesCol {
	width: 33%;
}

.centerText {
	text-align: center;
}