@*e. bind to the calculator model *@
@model CalculatorModel

@{
    ViewData["Title"] = "Calculator";
}

<h2>Calculator</h2>

@* b. Create form that sends our data to CalculatorResult *@
<form asp-controller="home" asp-action="calculatorresult" method="get">

    <label asp-for="NumberToConvert"></label>
    <input type="number" asp-for="NumberToConvert" />

    <label asp-for="StartingUnit"></label>
    <select asp-for="StartingUnit" asp-items="CalculatorModel.Units"></select>

    <label asp-for="EndingUnit"></label>
    <select asp-for="EndingUnit" asp-items="CalculatorModel.Units"></select>

    <input type="submit" value="Calculate" />
</form>